{% extends "template.html" %}
{% block content %}

<h2>NFC UNLOCK</h2>
<p>Unlock this site using either your password or NFC</p>

<div class="w-25 mx-auto">
<form>
    <div class="form-group">
      <input type="username" class="form-control" id="exampleInputusername" aria-describedby="usernameHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Sign-In</button>
  </form>
</div>
{% endblock %}
