

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    color:black;
    font: italic normal 1.4em georgia, sans-serif;
    text-align: center;

  }

html {
    scroll-behavior: smooth;
}

